@font-face {
    font-family: 'my-font';
    src: url('./SFD-Bold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'my-font';
    src: url('./SFD-Medium.woff2') format('woff2');
    font-weight: 400;
}

.hello {
    color: red;
    font-family: 'my-font';
    background: url('./icon.jpg');
    font-weight: 600;
}